body {
    background: url(background.jpg);
    color: white;
    overflow: hidden;

}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#scoreboard {
    text-align: center;
    position: fixed;
    top: 0;
    color: yellow;
}

#startButton {
    width: 30vw;
    height: 20vh;
    border-radius: 10px;
    font-size: 40px;
    cursor: pointer;
    display: block;
}

#endButton {
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    top: 65vh;
    display: none;
}

.bullet {
    width: 80px;
    height: 80px;
    /* background-color: gold; */
    position: fixed;
}

.enemy {
    width: 25px;
    height: 25px;
    /* background-color: red; */
    position: fixed;
}

.explosion {
    width: 25px;
    height: 25px;
    position: fixed;
    -webkit-animation: fadeout 1.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 1.5s;
    /* Firefox < 16 */
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#ship {
    display: none;
    width: 80px;
    height: 80px;
    position: fixed;
}

#gameOver {
    width: 30vw;
    height: 15vh;
    border-radius: 10px;
    font-size: 40px;
    border: solid yellow;
    color: yellow;
    display: none;
    text-align: center;
    padding-top: 7vh;
}