body {
    background-color: black;
    color: white;
    overflow: hidden;

}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#startButton {
    width: 30vw;
    height: 20vh;
    border-radius: 10px;
    font-size: 40px;
}

.bullet {
    width: 5px;
    height: 5px;
    background-color: red;
    position: fixed;
}

.enemy {
    width: 25px;
    height: 25px;
    background-color: red;
    position: fixed;
}

#ship {
    display: none;
    width: 80px;
    position: fixed;
}