body {
    background-color: black;
    color: white;
    overflow: hidden;

}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#startButton {
    width: 30vw;
    height: 20vh;
    border-radius: 10px;
    font-size: 40px;
<<<<<<< HEAD
=======
}

.bullet {
    width: 5px;
    height: 5px;
    background-color: red;
    position: fixed;
>>>>>>> be9c92ce5b229f297c09184cd8e7df8d2f8ddcf9
}