body {
    background: url("images/background.jpg");
    color: white;
    overflow: hidden;
}

#main {
    // display: flex;
    // justify-content: center;
    // align-items: flex-start;
    height: 100%;
    width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

#gui {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: yellow;
    border: solid yellow;
    width: 800px;
    margin: auto;
}

#gui div {
    text-align: center;
    width: 200px;
    margin: 5px;
}

#current-hp {
    text-align: center;
    position: fixed;
    top: 0;
    left: 10px;
}

#current-hp div.hp-unit {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: url("./images/ship.png");
    background-size: 100% 100%;
}

.button {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    font-size: 40px;
    cursor: pointer;
}

.small-button {
    width: 150px;
    height: 75px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bullet {
    width: 80px;
    height: 80px;
    /* background-color: gold; */
    background: url("./images/bullet2.png");
    background-size: 100% 100%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.enemyBullet {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    /* background-color: gold; */
    background: url("./images/red-star.png");
    background-size: 100% 100%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.enemy {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 45px;
    height: 50px;
    // background-color: red;
    background-image: url("./images/alien.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: bottom center;
    position: fixed;
    transform: translate(-50%, -50%);
}

.progress-bar {
    background-color: red;
    height: 10px;
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
}

.explosion {
    width: 75px;
    height: 75px;
    position: fixed;
    transform: translate(-50%, -50%);
    background: url("./images/explosion.png");
    background-size: 100% 100%;
    -webkit-animation: fadeout 1.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 1.5s;
    /* Firefox < 16 */
}

.upgrade {
    width: 30px;
    height: 30px;
    position: fixed;
    transform: translate(-50%, -50%);
    background: url("./images/lightning.png");
    background-size: 100% 100%;
    -webkit-animation: fadeout 6s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 6s;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#ship {
    display: none;
    width: 80px;
    height: 80px;
    position: fixed;
    transform: translate(-50%, -50%);
    background: url("./images/ship.png");
    background-size: 100% 100%;
}

.undraggable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#game-over {
    width: 30vw;
    height: 15vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

#game-over p {
    border-radius: 10px;
    border: solid yellow;
    padding: 20px;
    font-size: 40px;
    color: yellow;
    text-align: center;
}

button#stop-play {
    background: url("./images/play-stop.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    border-color: yellow;
    border-radius: 100%;
    border-style: solid;
    margin-top: 5px;
}


// #game-over button {
//     border-radius: 10px;
//     font-size: 40px;
//     border: solid yellow;
//     color: yellow;
// }